name: on oush to main

on:
  workflow_run:
    workflows: ["CI"]  # <-- name of the other workflow
    branches: [main]
    types:
      - completed


permissions:
  contents: write

jobs:
  sync-main-to-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0   # Needed to fetch all history so we can push to another branch

      - name: Push main to dev
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout main
          git pull origin main
          git push origin main:dev
          git push origin main:stage
